@model ToDoManager.ViewModels.Home.IndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<p>Welcome to the Software Engineering II year Web Programming 2 ASP.NET MVC Project.</p>
<p>The EASY TO DO platform facilitates creating, maintaining and sharing To Do lists.</p>
<p>Enjoy, Software Engineering'2019</p>

